<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вышка словари</title>
</head>
<body>

<table>
    <tr>
        <td width="60%" valign="top">
            <h2>Поиск</h2>
            <form action="{% url 'search' %}">
                <input type="text" name="q" placeholder="Введите слово">
                <input type="submit" value="Искать">
            </form>
        </td>
        <td valign="top">
            <h2>Последние запросы:</h2>
            {% for i in queries %}
                <p>{{ i }}</p>
            {% endfor %}
        </td>
    </tr>
</table>

</body>
</html>